[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
textblob = "*"
nltk = "*"
redis = "*"
analytix = "==1.1.1"
flask = "*"
celery = "*"
click_didyoumean = "==0.3.0"
requests = "*"
wordcloud = "*"

[dev-packages]

[requires]
python_version = "3.8"
